<h1>Product Details</h1>


<p> <span class="fw-medium">Batch: </span><%= product.batch %></p>
<p> <span class="fw-medium">Name: </span><%= product.name %></p>
<p> <span class="fw-medium">Quantity: </span><%= product.quantity %></p>
<p> <span class="fw-medium">Sale Price: </span><%= product.sale_price %></p>
<p> <span class="fw-medium">Purchase Price: </span><%= product.purchase_price %></p>
<p> <span class="fw-medium">Vendor Name: </span><%= product.vendor_name %></p>