<h1>Customer Details</h1>


<p> <span class="fw-medium">Name: </span><%= customer.name %></p>
<p> <span class="fw-medium">Phone: </span><%= customer.phone %></p>
<p> <span class="fw-medium">CNIC: </span><%= customer.cnic_number %></p>
<p> <span class="fw-medium">Email: </span><%= customer.email %></p>
<p> <span class="fw-medium">Address: </span><%= customer.address %></p>
